*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  user-select: none;
}

:root {
  box-sizing: border-box; 
  font-size: 66.6%; /* Hi, Satana! */
  --table-color: darkgreen;
  --border-color: grey;
  --card-front-color: white;
  --hearts-color: red;
  --diamonds-color: tomato;
}

body {
  font-family: sans-serif;
  background: darkgreen;
  overflow: hidden;
}
