/node_modules
/.pnp
.pnp.js

/packages/ui/dist
/packages/ui/node_modules
/packages/ui/build
/packages/ui/coverage
/packages/app/dist
/packages/app/node_modules
/packages/app/build
/packages/app/coverage
/packages/lib/dist
/packages/lib/node_modules
/packages/lib/build
/packages/lib/coverage

# misc
.DS_Store
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*
package-lock.json
yarn.lock
*.swp
